.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: calc(100% - 40px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0px 40px;
  box-shadow: 0px 2px 10px 10px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(25px);
  position: sticky;
  inset: 20px;
  z-index: 10;
}

.navlinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.navlink {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-size: 14;
}
.navlink:hover {
  color: rgba(0, 0, 0, 0.75);
}
.navlink:active {
  color: rgba(0, 0, 0, 1);
}

.navbuttons {
  display: flex;
  gap: 10px;
}
.homelink {
  display: grid;
  place-items: center;
}
