* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  min-height: 100vh;
}

:root {
  --primary-default: #0A6CFF;
  --primary-hover: #4791FF;
  --primary-active: #0052CC;

  --primary-tonalbtn-default: rgba(10, 108, 255, 0.20);
  --primary-tonalbtn-hover: rgba(71, 145, 255, 0.40);
  --primary-tonalbtn-active: rgba(0, 82, 204, 0.60);

  --primary-textbtn-hover: rgba(71, 145, 255, 0.20);
  --primary-textbtn-active: rgba(0, 82, 204, 0.40);
  
}

.button {
  cursor: pointer;
  text-decoration: none;
  color: white;
  background: none;
  border: none;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 200ms ease-out;
}
.button:disabled {
  opacity: 0.5;
}

.button_filled {
  border: none;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-default);
}
.button_filled:hover {
  background-color: var(--primary-hover);
}
.button_filled:active {
  background-color: var(--primary-active);
}

.button_outlined {
  border: 2px solid var(--primary-default);
  background-color: none;
  color: var(--primary-default);
}
.button_outlined:hover {
  border-color: var(--primary-hover);
  background-color: var(--primary-hover);
  color: white;
}
.button_outlined:active {
  border-color: var(--primary-active);
  background-color: var(--primary-active);
}

.button_text {
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
}
.button_text:hover {
  background-color: var(--primary-textbtn-hover);
  color: black;
}
.button_text:active {
  background-color: var(--primary-textbtn-active);
  color: white;
}

.button_tonal {
  background: var(--primary-tonalbtn-default);
  color: black;
}
.button_tonal:hover {
  background: var(--primary-tonalbtn-hover);
}
.button_tonal:active {
  background: var(--primary-tonalbtn-active);
  color: white;
}

.button_small {
  border-radius: 4px;
  height: 32px;
  padding: 0px 8px;
  font-size: 12px;
}
.button_medium {
  height: 48px;
  padding: 0px 32px;
  font-size: 14px;
}
.button_large {
  height: 64px;
  padding: 0px 48px;
  font-size: 18px;
}

.iconbutton {
  cursor: pointer;
  text-decoration: none;
  color: white;
  background: none;
  border: none;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 200ms ease-out;
  width: 48px;
  height: 48px;
}
.iconbutton:disabled {
  opacity: 0.5;
}

.iconbutton_filled {
  border: none;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-default);
}
.iconbutton_filled:hover {
  background-color: var(--primary-hover);
}
.iconbutton_filled:active {
  background-color: var(--primary-active);
}

.iconbutton_outlined {
  border: 2px solid var(--primary-default);
  background-color: none;
  color: var(--primary-default);
}
.iconbutton_outlined:hover {
  border-color: var(--primary-hover);
  background-color: var(--primary-hover);
  color: white;
}
.iconbutton_outlined:active {
  border-color: var(--primary-active);
  background-color: var(--primary-active);
}

.iconbutton_text {
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
}
.iconbutton_text:hover {
  background-color: var(--primary-textbtn-hover);
  color: black;
}
.iconbutton_text:active {
  background-color: var(--primary-textbtn-active);
  color: white;
}

.iconbutton_tonal {
  background: var(--primary-tonalbtn-default);
  color: black;
}
.iconbutton_tonal:hover {
  background: var(--primary-tonalbtn-hover);
}
.iconbutton_tonal:active {
  background: var(--primary-tonalbtn-active);
  color: white;
}

h1 {
  font-size: 48px;
}
