.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 100vw;
}

.page_background {
  position: absolute;
  height: 400px;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%),
    no-repeat center/100% url("/thundertower.png");
  z-index: -10;
}

.page_header {
  display: flex;
  flex-direction: row;
  padding: 160px 20px 20px 20px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.header-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.page_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 0 20px;
}
.left-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.right-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.divider {
  opacity: 0.2;
  margin: 0 20px;
}

.pageh2 {
  font-size: 32px;
}
.grid {
  display: grid;
  gap: 5px;
  width: 100%;
  border-radius: 16px;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}
.descrpt-image{
  width: 100%;
}
.card-section_body {
  display: flex;
  flex-direction: row;
  width: calc(100%-40px);
  align-items: flex-start;
  gap: 20px;
}
.card-section {
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 20px;
  align-items: flex-start;
  gap: 20px;
}
